@model List<WebApplication3.Models.Domain.Employee>

@{
}
<h1>EMPLOYEES LIST</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date of Birth</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DoB.ToString("dd-mm-yyyy")</td>
            </tr>
        }
    </tbody>
    
</table>